<script src="/assets/js/app.js"></script>
<!-- Navbar content -->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="obv-navbar">
        <a class="navbar-brand navbar-text" href="/list" id="navbar-headline">Scrappa!</a>
    {{!-- <div id="navbarTogglerDemo02"> --}}
        <ul class="nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link navbar-text" href="/list">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-text" href="/saved">Saved Articles</a>
            </li>
        </ul>
        <form class="form-inline justify-content-end my-2 my-lg-0" action="/api/scrape">
            <button class="btn btn-info my-2 my-sm-0" type="submit" value="Search">Search</button>
        </form>
    {{!-- </div> --}}
</nav>
</header>
<!-- Jumbotron w/image -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Mongo Scraper</h1>
    <p class="lead text-center">CounterPunch.org Muckraking Scraper.</p>
  </div>
</div>
<!-- handlebars example -->
<div>
    gobbledybook stiit
    {{ dbArticle }}
{{!-- {{#each dbArticle}}
  <p>Headline: {{title}}</p>
  <p>Link: {{link}}</p>
  <hr>
{{/each}} --}}
{{!-- {{#dbArticle}}
   {{this}}
{{/dbArticle}} --}}
</div>

<!-- main content for articles-->
<div class="container-fluid">
    <div class="row col-md-10">
        <div class="card w-100 text-center">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer class="footer">
      <div class="container">
        <span class="navbar-text text-center navbar-text">Muckraking Complete.</span>
      </div>
</footer>